@import 'variables';

/* bootstrap variable override */
$theme-colors: (
    "dark": $dark,
    "light": $light,
    "primary": $primary,
    "secondary": $secondary
);

$enable-responsive-font-sizes: true;
$enable-rounded: true;
$input-focus-border-color: lighten($primary, 15%);

/* Load Bootstrap to save overrides */
@import '../../node_modules/bootstrap/scss/bootstrap';

/* override mixins */
@import 'mixins';

/* Bootstrap Button Extensions */
@mixin bootstrap-button($bg-color) {
    @include button-variant($bg-color, $bg-color,
        darken($bg-color, 7.5%), darken($bg-color, 10%),
        darken($bg-color, 10%), darken($bg-color, 12.5%));
}

.btn {
    &-circle {
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        padding: 0;
        border-radius: 50%;

        & i {
            position: relative;
            top: -1px;
        }

        @media (min-width: $bp-sm) {
            width: 35px;
            height: 35px;
            line-height: 35px;
            font-size: 0.9rem;
        }

        @media (min-width: $bp-lg) {
            width: 45px;
            height: 45px;
            line-height: 45px;
            font-size: 0.9rem;
        }

        @media (min-width: $bp-xl) {
            width: 55px;
            height: 55px;
            line-height: 55px;
            font-size: 1.3rem;
        }
    }
}
