/* theme fonts */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web&display=swap);
$font-family-sans-serif: 'Titillium Web', 'Open Sans', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap);
$font-family-serif: 'Roboto Slab', serif;

/* theme colors */
$dark: #2E2E2E;
$light: #e6eff3;
$primary: #009688;
$secondary: #5652ca;

/* custom breakpoints */
$bp-sm: 576px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;
$bp-xxl: 1900px !default;
