/* theme fonts */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web&display=swap);
$font-family-sans-serif: 'Titillium Web', 'Open Sans', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap);
$font-family-serif: 'Roboto Slab', serif;

/* theme colors */
$dark: #2e2e2e;
$light: #e6eff3;
$primary: #2e7d32;
$secondary: #ef6c00;

/* breakpoints */
$bp-sm: 375px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;
