@import 'theme';

html, body {
    font-family: $font-family-sans-serif;
    margin: 0;
    // overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $dark;
    color: $light;
}

.triangle-bg {
    position: relative;
    background: lighten($dark, 2%);

    &::after, &::before {
        position: absolute;
        content: '';
        left: 0;
        height: 100%;
        width: 100vh;
        transform-origin: right top;
    }

    &::after {
        top: -100%;
        background: lighten($dark, 4%);
        transform: skewY(-50deg);
        @media (min-width: $bp-md) {
            transform: skewY(-15deg);
        }
    }

    &::before {
        top: 0;
        background: $dark;
        transform: skewY(-70deg);
        @media (min-width: $bp-md) {
            transform: skewY(-45deg);
        }
    }
}
