@import 'variables';
@import 'mixins';

header {
    height: 45vh;
    background-color: $primary;
    background-attachment: fixed;

    & > div {
        color: $light;
        position: relative;
        z-index: 10;
        height: 100%;
        background: inherit;

        &:before {
            content: '';
            position: absolute;
            z-index: -10;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include box-shadow(0, 0, 200px, rgba(white, .5), inset);
            filter: blur(5px);
            background: inherit;

            @media (min-width: $bp-md) {
                @include box-shadow(0, 0, 1000px, rgba(white, .5), inset);
            }
        }

        & > img {
            width: 175px;
            height: 175px;

            @media (min-width: $bp-sm) {
                width: 200px;
                height: 200px;
            }

            @media (min-width: $bp-md) {
                width: 275px;
                height: 275px;
            }
        }

        .header-title {
            & > h1 {
                font-size: 28px;
                margin: 0;
            }

            & > h2 {
                font-size: 18px;
                margin: 0;
            }
        }

        .border-circle {
            border: 2px solid $light;
            padding: 2px;
        }
    }
}

#quickLinks {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    padding-top: 1.5em;

    @media (min-width: $bp-sm) {
        border-top: 1px solid $light;
        padding-bottom: 2em;
    }

    @media (min-width: $bp-md) {
        width: 50%;
        padding-top: 3em;
        padding-bottom: 3em;
    }

}

#description {
    padding-top: 1.5em;

    @media (min-width: $bp-sm) {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    @media (min-width: $bp-md) {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    p {
        margin: 0;

        a {
            color: $primary;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                color: lighten($primary, 10%);
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}

.modal-dialog {
    .modal-content {
        padding: 20px;
        width: inherit;
        margin-left: auto;
        margin-right: auto;
    }
}
