@import 'variables';
@import 'mixins';

.card {
    border: none !important;
    background-color: $dark;
    @media (min-width: $bp-md) {
        width: 90%;
        background-color: lighten($dark, 3%);
    }
    @media (min-width: $bp-lg) {
        width: 50%;
        background-color: lighten($dark, 3%);
    }
}

header {
    height: 45vh;
    background-color: $primary;
    @include radial-gradient($light, 5%, $primary, 75%, darken($primary, 15%), 100%);
    @media (min-width: $bp-md) {
        @include radial-gradient($light, 5%, $primary, 65%, darken($primary, 15%), 100%);
    }


    & > img {
        width: 250px;
        height: 250px;

        @media (min-width: $bp-md) {
            width: 400px;
            height: 400px;
        }
    }
}

.header-title {
    & > h1 {
        font-size: 28px;
        margin: 0;
    }

    & > h2 {
        font-size: 18px;
        margin: 0;
    }
}

.border-circle {
    border: 3px solid $dark !important;
    padding: 2px !important;
    @include box-shadow(0, 0, 3px, $dark);
}

#quickLinks {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid $light;
    padding-top: 1.5em;

    & > a, button {
        @include box-shadow(0, 0, 3px, $secondary);
    }

    @media (min-width: $bp-md) {
        width: 80%;
    }

}

.card-body {
    p > a {
        color: $primary;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            color: lighten($primary, 10%);
            text-decoration: none;
            font-weight: bold;
        }
    }
}

.modal-dialog {
    .modal-content {
        padding: 20px;
        width: inherit;
        margin-left: auto;
        margin-right: auto;
        @include border-radius(10px);
    }
}

#toast-container {
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;

    ngb-toast {
        border: none;
        .toast-body {
            background-color: $primary;
            color: lighten($primary, 25%);
        }
    }
}
