<div *ngIf="profile">
    <div class="card mx-auto mt-md-4">
        <header class="d-flex justify-content-center align-items-center">
            <img class="rounded-circle border-circle mx-auto my-3" src="../assets/img/me_new.png" alt="me">
        </header>
        <main class="card-body">
            <div class=" card-title header-title mt-2">
                <h1 class="text-center">{{getFullName()}}</h1>
                <h2 class="text-center">{{profile.title}}</h2>
            </div>
            <p class="card-text text-center py-3" [innerHTML]="profile.description"></p>

            <nav class="d-flex justify-content-center flex-wrap" id="quickLinks" [@popupAnimation]="profile.links.length" @singlePopupAnimation>
                <a *ngFor="let link of profile.links" class="btn btn-secondary btn-circle mx-3 my-sm-3 my-2" href="{{link.href}}" ngbTooltip="{{link.tooltip}}">
                    <i [class]="link.icon"></i>
                </a>
                <ng-container *ngIf="isDesktop; else mobileShare">
                    <button class="btn btn-secondary btn-circle mx-3 my-sm-3 my-2 single-popup" (click)="showQRCode(qrCodeModal)" ngbTooltip="Share me!">
                        <i class="fa fa-share"></i>
                    </button>
                </ng-container>
                <ng-template #mobileShare>
                    <button class="btn btn-secondary btn-circle mx-3 my-sm-3 my-2 single-popup" ngxClipboard [cbContent]="shareUrl" (cbOnSuccess)="showToast = true">
                        <i class="fa fa-share"></i>
                    </button>
                </ng-template>
            </nav>
        </main>
    </div>
</div>

<div class="d-flex justify-content-center" id="toast-container">
    <ngb-toast [autohide]="true" [delay]="1500" *ngIf="showToast" (hide)="showToast = false">
        <i class="fas fa-check mr-1"></i>URL copied to clipboard
    </ngb-toast>
</div>


<ng-template #qrCodeModal let-modal>
    <div class="modal-body d-flex justify-content-center">
        <qrcode [qrdata]="shareUrl" [size]="150" [level]="'M'"></qrcode>
    </div>
</ng-template>
