<main *ngIf="profile">
    <header>
        <div class="d-flex flex-column justify-content-center">
            <img class="rounded-circle border-circle mx-auto my-3" src="../assets/img/me.jpg" alt="me">
            <div class="header-title">
                <h1 class="text-center">{{profile.name}},&nbsp;{{getAge(profile.dateOfBirth)}}</h1>
                <h2 class="text-center">{{profile.title}}</h2>
            </div>
        </div>
    </header>

    <div class="container" id="description">
        <p class="px-3 text-center" [innerHTML]="profile.description"></p>
    </div>

    <nav class="d-flex justify-content-center flex-wrap" id="quickLinks" [@popupAnimation]="profile.links.length" @singlePopupAnimation>
        <a *ngFor="let link of profile.links" class="btn btn-secondary btn-circle mx-3 my-sm-3 my-2" href="{{link.href}}" ngbTooltip="{{link.tooltip}}">
            <i [class]="link.icon"></i>
        </a>
        <button class="btn btn-secondary btn-circle mx-3 my-sm-3 my-2 single-popup" (click)="openModal(qrCodeModal)" ngbTooltip="Share me!">
            <i class="fa fa-share"></i>
        </button>
    </nav>

    <app-bubbles></app-bubbles>
</main>

<ng-template #qrCodeModal let-modal>
    <div class="modal-body d-flex justify-content-center">
        <qrcode [qrdata]="qrUrl" [size]="75" [level]="'M'"></qrcode>
    </div>
</ng-template>
